<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @story.section %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @story.slug %>
</p>

<p>
  <strong>Active:</strong>
  <%= @story.active %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
